<div class="container">
  <div class="row">
    <div class="col-12 offset-2 mt-5">

      <h2 class="col-6">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field form-group">
          <%= f.label :Eメール %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-6" %>
        </div>

        <div class="field form-group">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control col-6" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field form-group">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions form-group">
          <%= f.submit "ログイン", class:"btn btn-md btn-success" %>
        </div>
      <% end %>

    </div>
  </div>
</div>