<div class="col-2">
  <div class="row">

    <div class="col-12">
      <h3>投稿を検索</h3>
      <%= form_tag({controller:"searchs",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索', class:"btn btn-sm btn-outline-primary mt-2" %>
      <% end %>
    </div>

    <div class="side_bar col-12 mt-4">
      <!--管理者ログイン時に表示-->
      <% if current_user.try(:admin?) %>
        <p><%= link_to '管理者ページへ', rails_admin_path %></p>
        <p><%= link_to 'ジャンル編集へ', genres_path %></p>
      <% end %>

      <h5>ジャンル一覧</h5>
      <table>
        <% @genres.each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, items_path(genre_id: genre.id),class: "text-secondary" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>

  </div>
</div>