<div class="side_bar col-2">
  <div class="row">

    <!--部分一致検索-->
    <div class="col-12">
      <h5>投稿を検索</h5>
      <%= form_tag({controller:"searchs",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索', class:"btn btn-sm btn-outline-primary mt-2" %>
      <% end %>
    </div>
    <!--管理者ログイン時に表示-->
    <% if current_user.try(:admin?) %>
    <div class="col-12 mt-3">
      <p><%= link_to '管理者ページへ', rails_admin_path %></p>
      <p><%= link_to 'ジャンル編集へ', genres_path %></p>
    </div>
    <% end %>

    <!--ジャンル一覧-->
    <div class="genre_bar col-12 mt-2">
      <div class="h5 genre_head">ジャンル一覧</div>
      <div class="genre_index">
        <% @genres.order("name").each do |genre| %>
          <p><%= link_to genre.name, items_path(genre_id: genre.id),class: "text-secondary" %></p>
        <% end %>
      </div>
    </div>

  </div>
</div>