<!DOCTYPE html>
<html>
  <head>
    <title>BBitems</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="wrapper">
      <!-- ヘッダー -->
      <%= render 'layouts/header' %>
      <!-- deivseのフラッシュメッセージを表示 -->
      <p class="notice"><span style="background-color:#DDFFDD"><%= notice %></span></p>
      <p class="alert"><span style="background-color:#f8d7da"><%= alert %></span></p>

      <%= yield %>

      <!--フッター-->
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
