<div class="container">
  <div class="row">

    <!--サイドバー-->
    <div class="side_bar col-3">
      検索機能
    </div>

    <!--メイン部分-->
    <main class="col-9">
      <div class="row">

        <div class="col-12">
          <%= link_to "投稿する", new_item_path %>
        </div>

        <!--投稿一覧-->
        <% @items.each do |item| %>
          <div class="col-xs-12 col-md-3">
            <div class="card" style="float: left;">
              <!--製品画像-->
              <div class="card-img-top">
                <%= link_to item_path(item.id) do %>
                  <%= attachment_image_tag item, :image, height:150, format: 'jpeg', fallback: "no_image.jpg" %>
                <% end %>
              </div>
              <div class="card-body">
                <!--製品名-->
                <h5 class="card-title">
                  <%= link_to item_path(item.id) do %>
                    <%= item.name %>
                  <% end %>
                </h5>
                <!--ジャンル-->
                <p class="card-text">（<%= item.genre.name %>）</p>
                <!--星評価-->
                <div class="card-footer">
                  <div class="item-evaluation" data-score="<%= item.evaluation %>"></div>
                </div>
              </div>
            </div>
          </div>
        <% end %>

        <script>
          $('.item-evaluation').raty({
            readOnly: true,
            score: function() {
              return $(this).attr('data-score');
            },
            path: '/assets/'
          });
        </script>

      </div>
    </main>
  </div>
</div>