<div class="container">
  <div class="row">
    <main class="col-8 offset-2">

      <h3>会員情報編集</h3>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <!--名前-->
        <div class="field form-group mt-3">
          <label>ユーザー名</label> <br/>
          <%= f.text_field :name, autofocus: true, class:'form-control col-10' %>
        </div>

        <!--メールアドレス-->
        <div class="field form-group">
          <label>メールアドレス</label> <br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control col-10" %>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <!--プロフィール画像-->
        <div class="field form-group">
          <label >プロフィール画像</label> <br/>
          <%= f.attachment_field :image %>
        </div>

        <!--自己紹介文-->
        <div class="field form-group">
          <label >自己紹介</label> <br/>
          <%= f.text_area :introduction, autofocus: true, class:'form-control col-10' %>
        </div>

        <!--確認パスワード-->
        <div class="field form-group">
          <label>パスワードを入力してください</label> <br/>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control col-10" %>
        </div>

        <!--変更ボタン-->
        <div class="form-group">
          <%= f.submit "変更する" , class:'btn btn-sm btn-success' %>
        </div>
      <% end %>

      <h3 class="mt-5">退会はこちらから</h3>
      <p class="mt-4 mb-5"><%= link_to "退会確認画面へ", leave_users_path, class:"btn btn-sm btn-danger" %></p>

    </main>
  </div>
</div>