<h5 id="item_<%= @item.id %> .comments-count">コメント一覧（コメント数: <%= @item.item_comments.count %>）</h5>
<table class="table table-hover col-12">
  <!--コメント一覧新着順-->
  <tbody>
    <% item.item_comments.reverse.each do |item_comment| %>
    <tr>
      <!--ユーザー画像-->
      <td class="col-1">
        <%= attachment_image_tag item_comment.user, :image, height:"50", width:"50", class:"user_img", format: 'jpeg', fallback: "no_image.jpg" %>
      </td>
      <!--ユーザー名・コメント・コメント日-->
      <td class="col-9">
        <p><%= link_to item_comment.user.name, user_path(item_comment.user) %></p>
        <p><%= item_comment.comment %></p>
        <%= I18n.l item_comment.created_at %>
      </td>
      <!--削除ボタン-->
      <td class="col-2">
        <% if item_comment.user_id == current_user.id %>
          <p><%= link_to "削除", item_item_comment_path(item, item_comment), method: :delete, remote: true, class:'btn btn-sm btn-danger' %></p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>