<div class="container">
  <div class="row">
    <main class="col-8 offset-2">

      <h3>ジャンル一覧・追加</h3>

      <div class="field form-group col-12 mt-4 mb-4">
        <%= form_with model: @genre,url: genres_path, local:true do |f| %>
          <%= f.label :ジャンル名 %><br />
          <%= f.text_field :name, class:'form-control', placeholder: "ジャンル名" %>
          <%= f.submit "新規登録", class:"btn btn-success mt-3" %>
        <% end %>
      </div>

      <table class="col-12 mb-5 table">
        <thead class="table-dark text-center">
          <th>ジャンル</th>
          <th></th>
          <th></th>
        </thead>
        <tbody class="text-center">
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name%></td>
              <td><%= link_to "編集する", edit_genre_path(genre.id), class:"btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </main>
  </div>
</div>