<table class="table">
  <thead>
    <tr>
      <th class="col-3">ユーザー名</th>
      <th class="col-3">投稿件数</th>
      <th class="col-3">フォロー</th>
      <th class="col-3">フォロワー</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><!--ニックネーム・画像-->
          <%= attachment_image_tag user, :image, height:"50", width:"50",  class:"user_img", format: 'jpeg', fallback: "no_image.jpg" %> <br/>
          <div class="text-truncate"><%= link_to user.name, user_path(user.id) %></div>
        </td>
        <!--投稿件数-->
        <td><%= user.items.count %>件</td>
        <!--フォロー・フォロワー件数-->
        <td><%= user.followings.count %>人</td>
        <td><%= user.followers.count %>人</td>
      </tr>
    <% end %>
  </tbody>
</table>